node-linker=isolated
strict-peer-dependencies=false
auto-install-peers=true
dedupe-peer-dependents=true
prefer-workspace-packages=true
link-workspace-packages=true
save-workspace-protocol=rolling
engine-strict=true
